# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Hydra outputs
outputs/
multirun/

# Weights & Biases
wandb/

# Checkpoints
checkpoints/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/
